.halo-navbar {
    padding-left: 3.25%;
    padding-right: 3.25%;
    opacity: 0.5;
    z-index: 1;
}

.halo-navbar .nav-link {
    text-transform: uppercase;
}

.cover-image {
    position: absolute;
    top: 0;
    left: 0;
}

.cover-content {
    padding-left: 3.25%;
    padding-right: 3.25%;
    position: relative;
    color: white;
}

.cover-content .reserved {
    padding-top: 41.25%;
}