body, html, #root {
  height: 100%;
  font-family: wf_heroic-condensed-pro_medium,Calibri,"Arial Narrow","Trebuchet MS",Tahoma,Arial,sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.halo-circle .circle-chart:before {
  content: "";
  display: block;
  padding-top: 0;
}

.blue-match-gradiant::after {
  background: linear-gradient(to bottom,transparent,"#304197");
}

.red-match-gradiant::after {
  background: linear-gradient(to bottom,transparent,"#98252A");
}

.table-surface {
  font-family: Arial, sans-serif;
}

.footer {
  background-color: #eee;
  padding-top: 1.42857em;
}